In [1]:
import sys

import numpy as np
import pandas as pd
from tqdm import tqdm

sys.path.append("/home/jupyter/work/resources/DiplomDimReduction/")
import importlib


import config

importlib.reload(config)
import utils
from config import config_dict

importlib.reload(utils)

In [2]:
corpus_prefix = config_dict["marco_prefix"]
split_suffix = config_dict["test_suffix"]
method_prefix = config_dict["dpr_prefix"]


data_path = config_dict["data_template"].format(corpus_prefix, split_suffix)

corpus_vector_path = config_dict["corpus_vector_template"].format(
    corpus_prefix, method_prefix, split_suffix
)
corpus_mapping_path = config_dict["corpus_mapping_template"].format(
    corpus_prefix, method_prefix, split_suffix
)

queries_vector_path = config_dict["queries_vector_template"].format(
    corpus_prefix, method_prefix, split_suffix
)
queries_mapping_path = config_dict["queries_mapping_template"].format(
    corpus_prefix, method_prefix, split_suffix
)

In [3]:
data = pd.read_parquet(data_path)
data

     query_id  ...                                 query_text
0       19335  ...  anthropological definition of environment
1       19335  ...  anthropological definition of environment
2       19335  ...  anthropological definition of environment
3       19335  ...  anthropological definition of environment
4       19335  ...  anthropological definition of environment
..        ...  ...                                        ...
425   1133167  ...              how is the weather in jamaica
426   1133167  ...              how is the weather in jamaica
427   1133167  ...              how is the weather in jamaica
428   1133167  ...              how is the weather in jamaica
429   1133167  ...              how is the weather in jamaica

[430 rows x 5 columns]

In [4]:
data['query_id'].nunique()

43

In [5]:
data['corpus_id'].nunique()

428

In [20]:
text = "what are the three percenters?"
data[data['query_text'] == text]

     query_id  ...                      query_text
390   1121709  ...  what are the three percenters?
391   1121709  ...  what are the three percenters?
392   1121709  ...  what are the three percenters?
393   1121709  ...  what are the three percenters?
394   1121709  ...  what are the three percenters?
395   1121709  ...  what are the three percenters?
396   1121709  ...  what are the three percenters?
397   1121709  ...  what are the three percenters?
398   1121709  ...  what are the three percenters?
399   1121709  ...  what are the three percenters?

[10 rows x 5 columns]